body {
  margin: 0;
  background-color: #ccffff;
}
.navLinks {
  background-color: #66ffff;
  display: flex;
  height: 200%;
  padding: 2%;
}
.navLink {
  flex: auto;
  text-align: center;
}
.navLink a {
  text-decoration: none;
  color: #ff3399;
  font-size: x-large;
  font-weight: bolder;
}

.notLoggedIn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userProfileForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input{
 display: flex;
 flex-direction: row;
}
.input > span {
  float: left;
}

.checkbox {
  cursor: pointer;
}